target/
*.war
*.ear
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath
*.iml

# idea ignore
.idea/
.idea/*
.idea/workspace.xml
*.ipr
*.iml
*.iws

# logs #
logs
log

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

# system ignore
.DS_Store
Thumbs.db
Servers
.metadata
*.iml
